<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://roadtrafficapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>roadtrafficapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RoadTrafficApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RoadTrafficApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RoadContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:roadtrafficapp.database.windows.net,1433;Initial Catalog=RoadTrafficApp;Persist Security Info=False;User ID=x14426302;Password=Masters1995;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:roadtrafficapp.database.windows.net,1433;Initial Catalog=RoadTrafficApp;Persist Security Info=False;User ID=x14426302;Password=Masters1995;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RoadTrafficApp.Models.ApplicationDbContext, RoadTrafficApp" MigrationConfiguration="RoadTrafficApp.Migrations.Configuration, RoadTrafficApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RoadContext-Web.config Connection String">
      <ParameterValue>Server=tcp:roadtrafficapp.database.windows.net,1433;Initial Catalog=RoadTrafficApp;Persist Security Info=False;User ID=x14426302;Password=Masters1995;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>